<!DOCTYPE html>
<html>
  <head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>WEATHER APP</title>
    <link rel="stylesheet" href="SignUp.css" />
  </head>
  <body>
    <div class="background">
      <header class="app-header">WEATHER APP</header>
      <main class="signup-form">
        <section class="input-section">
          <label for="username" class="input-label">Username</label>
          <input
            type="text"
            class="input-fields"
            name="username"
            id="username"
            placeholder="Username"
            aria-label="username"
            required
          />
          <div class="validation-message" id="failed-username"></div>
        </section>
        <section class="input-section">
          <label for="password" class="input-label">Password</label>
          <input
            type="password"
            class="input-fields"
            name="password"
            id="password"
            placeholder="Password"
            aria-label="password"
            required
          />
          <div class="validation-message" id="failed-password"></div>
        </section>
        <section class="input-section">
          <label for="email" class="input-label">Email</label>
          <input
            type="email"
            class="input-fields"
            name="email"
            id="email"
            placeholder="Email"
            aria-label="email"
            required
          />
          <div class="validation-message" id="failed-email"></div>
        </section>
        <section class="buttons-section">
          <button class="signup-button" id="sign-up" onclick="">Sign UP</button>
        </section>
      </main>
    </div>
    <script src="SignUp.js"></script>
  </body>
</html>
